<?xml version="1.0"?>
<launch>
    <!-- Spawn map-->
    <arg name='start_mobrob' default='true'/>
    <arg name='start_arm' default='true'/>

    <!-- Static transform from map to world -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_world" args="0 0 0 0 0 0 map world"/>

    <!-- Gazebo options -->
    <arg name="gazebo_gui" default="true" doc="Start Gazebo GUI"/>
    <include file="$(find gazebo_ros)/launch/willowgarage_world.launch" pass_all_args="true"/>


    <!-- Mobile robot -->
    <include file='$(find mobile_robot)/launch/spawn_robot.launch'>
        <arg name="robot_x" value="-3"/>
        <arg name="robot_y" value="-3"/>
    </include>
    <!-- MoveIt options -->
    <arg name="pipeline" default="ompl" doc="Planning pipeline to use with MoveIt"/>

    <!-- Spawn Robot Arm-->
    <include file='$(find robot_arm_moveit)/launch/spawn_robot.launch' pass_all_args="true"/>
    <!-- Spawn a cube for the arm to pick up-->
    <arg name="cube_x" value="-0.3"/>
    <arg name="cube_y" value="0"/>
    <param name="cube" textfile="$(find task_planner)/urdf/cube.urdf"/>
    <node name="spawn_cube" pkg="gazebo_ros" type="spawn_model" args="-urdf -param cube -model cube -x $(arg cube_x) -y $(arg cube_y) -z 0.025" output="screen"/>

    <!-- Publish transformations of gazebo objects -->
    <node name="gazebo_object_pose_publisher" pkg="task_planner" type="pose_publisher.py"/>

    <!-- Publish grasp fix states -->
    <node name="gazebo_grasp_event_publisher" pkg="gazebo_grasp_plugin_ros" type="grasp_event_republisher"/>

    <!-- Spawn the Gazebo ROS controllers -->
    <node name="gazebo_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="joint_state_controller" />
</launch>